<h2>Hourly</h2>
<hr>
<div class="Temp_hour">
   
    <div class="weatherHour">
        <div class="weatherHourBlock"><img src="{{WeatherDate.temp_imgPlusHourOneH}}" alt=""></div>
        <div class="weatherHourBlock">{{WeatherDate.temp_oneH}}°</div>
        <div class="weatherHourBlock">{{this.WeatherDate.temp_time}}°</div>
        <div class="weatherHourBlock">{{this.WeatherDate.temp_textPlusHourOneH}}°</div>
    </div>

    <div class="weatherHour">
        <div class="weatherHourBlock"><img src="{{WeatherDate.temp_imgPlusHourfourH}}" alt=""></div>
        <div class="weatherHourBlock">{{WeatherDate.temp_fourH}}°</div>
        <div class="weatherHourBlock">{{this.WeatherDate.temp_timefour}}</div>
        <div class="weatherHourBlock">{{this.WeatherDate.temp_textPlusHourfourH}}</div>
    </div>

    <div class="weatherHour">
        <div class="weatherHourBlock"><img src="{{WeatherDate.temp_imgPlusHourtenH}}" alt=""></div>
        <div class="weatherHourBlock">{{WeatherDate.temp_tenH}}°</div>
        <div class="weatherHourBlock">{{this.WeatherDate.temp_timeten}}</div>
        <div class="weatherHourBlock">{{this.WeatherDate.temp_textPlusHourtenH}}</div>
    </div>

    <div class="weatherHour">
        <div class="weatherHourBlock"><img src="{{WeatherDate.temp_imgPlusHourfifteennH}}" alt=""></div>
        <div class="weatherHourBlock">{{WeatherDate.temp_fifteenH}}°</div>
        <div class="weatherHourBlock">{{this.WeatherDate.temp_timefifteen}}</div>
        <div class="weatherHourBlock">{{this.WeatherDate.temp_textPlusHourfifteenH}}</div>
    </div>

    <div class="weatherHour">
        <div class="weatherHourBlock"><img src="{{WeatherDate.temp_imgPlusHourtwentyH}}" alt=""></div>
        <div class="weatherHourBlock">{{WeatherDate.temp_twentyH}}°</div>
        <div class="weatherHourBlock">{{this.WeatherDate.temp_timetwenty}}</div>
        <div class="weatherHourBlock">{{this.WeatherDate.temp_textPlusHourtwentyH}}</div>
    </div>
</div>

<h2>Daily</h2>
<hr>
<div class="Temp_day">
    <div class="weatherDayOneBlock_hr">{{this.WeatherDate.temp_DatetwoDay}}</div>
    <hr>
    <div class="weatherDayOne">
        <div class="weatherDayOneBlock"><img src="{{WeatherDate.temp_imgtwoDay}}" alt=""></div>
        <div class="weatherDayOneBlock">{{WeatherDate.temp_twoDay}}°</div>
        <div class="weatherDayOneBlock">{{this.WeatherDate.temp_DatetwoDay}}</div>
        <div class="weatherDayOneBlock">{{this.WeatherDate.temp_TexttwoDay}}</div>
    </div>

    <div class="weatherDayOneBlock_hr">{{this.WeatherDate.temp_DatetwoDay2}}</div>
    <hr>

    <div class="weatherDayTwo">
        <div class="weatherDayOneBlock"><img src="{{WeatherDate.temp_imgtwoDay2}}" alt=""></div>
        <div class="weatherDayOneBlock">{{WeatherDate.temp_twoDay2}}°</div>
        <div class="weatherDayOneBlock">{{this.WeatherDate.temp_DatetwoDay2}}</div>
        <div class="weatherDayOneBlock">{{this.WeatherDate.temp_TexttwoDay2}}</div>
    </div>

    <div class="weatherDayOneBlock_hr">{{this.WeatherDate.temp_DatetwoDay2}}</div>
    <hr>

    <div class="weatherDayOnthree">
        <div class="weatherDayOneBlock"><img src="{{WeatherDate.temp_imgtwoDay2}}" alt=""></div>
        <div class="weatherDayOneBlock">{{WeatherDate.temp_twoDay2}}°</div>
        <div class="weatherDayOneBlock">{{this.WeatherDate.temp_DatetwoDay2}}</div>
        <div class="weatherDayOneBlock">{{this.WeatherDate.temp_TexttwoDay2}}</div>
    </div>
</div>